.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.centr {
  display: flex;
  justify-content: space-evenly;
}

.column-centr {
  justify-content: space-between;
}

.weight-top {
  height: 45px;
}

.logo-img {
  width: 150px;
  height: 25px;
  margin-right: 25px;
}

.bell-img {
  width: 20px;
  height: 20px;
}

input {
  border-radius: 20px;
  border: 0px;
}

.border {
  height: 30px;
  border-radius: 25px;
  background-color: rgb(219, 216, 216);
  display: flex;
}

.search-filed {
  width: 150px;
  border: 0px;
  background-color: rgb(219, 216, 216);
  font-family: Arial, sans-serif;
}

.search-filed:focus {
  outline: none;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  order: -1;
}

.bell-border {
  display: flex;
  justify-content: center;
  width: 50;
}

.wertical-center {
  display: flex;
  align-items: center;
}

body {
  margin: 0px;
  padding: 0px;
}

.search-ava {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-right: 15px;
}

.name {
  margin-right: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.arrow-bottom {
  width: 6px;
  height: 6px;
  border-top: 3px solid rgb(219, 216, 216);
  border-right: 3px solid rgb(219, 216, 216);
  margin-right: 60px;
  transform: rotate(135deg);
}

.content {
  height: calc(100% - 45px);
  background-color: rgb(227, 227, 227);
}

.text-menu {
  font-family: Arial, sans-serif;
  font-size: 11;
  line-height: 23px;
  margin-right: 30px;
  margin-top: 10px;
}

.menu-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.number-menu {
  color: rgb(219, 216, 216);
  background-color: rgb(167, 164, 188);
  display: inline-block;
  border-radius: 45%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-num {
  display: flex;
  justify-content: space-between;
}

.horuson-line {
  width: 100%;
  border-bottom: 1px solid rgb(215, 210, 210);
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  width: 250px;
  height: calc(100%-45px);
  margin-top: 10px;
}

.avatarka {
  display: flex;
  justify-self: center;
  align-content: center;
  margin-top: 10px;
}

#items {
  width: 50px;
  background-color: rgb(225, 226, 240);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
  height: 30px;
  padding-block-end: 5px;
}

.item {
  width: 7px;
  height: 10px;
  margin: 3px 3px 0 3px;
  background-color: #9fa0c4;
}

.item1 {
  height: 15px;
}

.item2 {
  height: 25px;
}

.edit {
  font-family: Arial, sans-serif;
  font-size: 14;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(116, 118, 135);
  background-color: rgb(225, 226, 240);
  height: 60%;
  width: 70%;
  border-radius: 10px;
}

.bot-edit {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 4%;
}

.gift {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 5%;
  padding: 5px;
}

.gift-img {
  height: 70px;
  width: 70px;
}

.gift-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.gift-txt {
  margin-right: 10px;
  margin-left: 5px;
  font-family: Arial, sans-serif;
  font-size: 13;
  font-weight: bold;
}

.gift-num {
  color: rgb(176, 173, 173);
  font-family: Arial, sans-serif;
}

.friends-row {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.ava-friends {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.friends {
  background-color: white;
  margin-top: 5%;
  padding: 5px;
}

.txt-friend {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: rgb(116, 118, 135);
  font-size: 12;
  font-weight: bold;
}

.info {
  background-color: white;
  width: 600px;
 line-height: 25px;
 padding: 10px;
 margin-top: 10px;
}

.name-online {
  display: flex;
  justify-content: space-between;
   margin-top: 10px;
    font-family:Arial, sans-serif;
}

.name-inf{
   
  font-size: 16;
  font-weight: bold;
}

.inf {
  display: flex;
  flex-direction: column;
  width: 200px;
  font-family: Arial, sans-serif;
  color: rgb(176, 173, 173);
  font-size: 13;
}


.inform{
  display: flex;
  flex-direction: column;
font-family: Arial, sans-serif;
color: rgb(95, 100, 157);
font-size: 13;
}

.num-inf{
  display: flex;
  flex-direction: column;
}

.num{
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 15;
  color: rgb(95, 100, 157);
  font-weight: bold;
}

.txt{
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 13;
  color: rgb(176, 173, 173);
  font-weight: lighter;
  margin-top: -5px;
}

.photo-inf{
  display: flex;
   flex-direction: row;
  justify-content: space-between;
 
}

.photos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pht{
   position: relative;
   overflow:hidden;
   width:140px;
   height:140px;
}

.pht img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.photo-txt{
font-family: Arial, sans-serif;
margin-right: 10px;
font-weight: bold;
font-size: 14;
margin-left: 10px;
}

.photo-num{
font-family: Arial, sans-serif;
font-size: 14;
color: rgb(176, 173, 173);
}

.photo-map{
  font-family: Arial, sans-serif;
  margin-right: 10px;
  font-size: 13;
  color: rgb(176, 173, 173);
}