.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.centr{
    display: flex;
    justify-content: space-around;
}

.column-centr{
    justify-content: space-between;
}